h2{
    text-align: center;
    border:solid red;
    border-radius: 1em;
    width: 50%;
    margin-right: auto;
    margin-left:auto;
    background-color: white;
}

h2>div{
    background-color: rgb(rgb(236, 97, 97));
}

.Fotos{
    display: block;
    margin: 20px auto;
}

main{
    border-style: solid;
    border-radius: 50px;
}

section{
    width: 80%;
    margin: auto;
}

article{
max-width: 350px;
padding: 10px;
background: linear-gradient(180deg, red, transparent);
border-radius: 30px;
}

article > figure{
    margin-left:unset
}

footer>div{
    border-top: 1px solid;
    font-size: 0.8em;
    padding-top: 2%;
    margin-top: 2%;
}

.PruebaFlex1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}