body{
    margin-right: 200px;
    margin-left: 200px; 
    min-width: 500px;
}

header{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3em;
    background-color: black;
    color:white
}

.login {
    display: inline;
    background-color: red;
    border-style: solid;
    border-color: white;
    border-radius: 0.5em;
    padding: 4px;
    width: 100px;
    font-size: 0.5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    align-self: flex-end;
    margin-top: 1em
}

h2{
    text-align: center;
    border:solid red;
    border-radius: 1em;
    width: 50%;
    margin-right: auto;
    margin-left:auto;
    background-color: white;
}

h2>div{
    background-color: rgb(rgb(236, 97, 97));
}

nav{
    border-style: solid;
    border-color: red;
    border-radius: 1em;
    font-size: 2em;
    margin: 30px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
}

li{
    display: inline;
    background-color: red;
    border-style: solid;
    border-radius: 0.5em;
    padding: 4px;
    width: 200px;
    text-align: center;
}

li>a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.Fotos{
    display: block;
    margin: 20px auto;
}

main{
    border-style: solid;
    border-radius: 50px;
}

section{
    width: 80%;
    margin: auto;
}

article{
max-width: 350px;
padding: 10px;
background: linear-gradient(180deg, red, transparent);
border-radius: 30px;
}

article p{
    font-style: italic;
}

article > figure{
    margin-left:unset
}

footer>div{
    border-top: 1px solid;
    font-size: 0.8em;
    padding-top: 2%;
    margin-top: 2%;
}

.PruebaFlex1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}