article{
    padding: 10px;
    background: linear-gradient(180deg, red, transparent);
    border-radius: 30px;
    }

    footer>div{
        border-top: 1px solid;
        font-size: 0.8em;
        padding-top: 2%;
        margin-top: 2%;
    }