main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-weight: bold;
    border-style: solid;
    border-radius: 30px;
    min-width: fit-content;
    padding: 20px;
}
form{
    background: linear-gradient(180deg, red, transparent);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

form > fieldset {
    margin: 20px
}

label{
    display: flex;
    flex-direction: column; 
    padding-top: 10px;
    font-size: larger;
}
.marcadores {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

input[type="submit"] {
    width: min-content;
    font-size: 15px;
    font-weight: bold;
}

footer>div{
    border-top: 1px solid;
    font-size: 0.8em;
    padding-top: 2%;
    margin-top: 2%;
}