h2{
    font-size: 3em;
    padding: 0.3em;
}

article{
    max-width: 350px;
    }

.articles{
        align-items: stretch;
        border: solid;
        padding: 20px;
        border-radius: 30px;
    }

h3{
    text-align: center;
} 